<a href="https://colab.research.google.com/github/JohnTakahashi2424/Python-Progra-lll/blob/main/Diccionarios_y_estructuras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
print("Bienvenidos a Programacion computacional III")

In [ ]:
Nombre = 'La variable es:'
edad = 5
print('hola', Nombre)

print("edad")
print("tu edad:", edad)

In [ ]:

#Esto es una suma de dos numeros

num1 = None
num2 = None

num1 = int(input("ingrese el primer numero de la suma: "))
num2 = int(input("Ingrese el segundo numero de la suma: "))

Respuesta = num1 + num2

print("la respuesta de la suma es:", Respuesta)
print("tenga un buen dia :D")

#Esto es una resta de dos numeros

a = None
b = None

a = int(input("Ingrese el primer numero para la resta: "))
b = int(input("ingrese el segunfo numero de la resta: "))

Respuesta = a - b

print("la respuesta de la resta es: ", Respuesta)
print("listo, definitivamente tenga un buen dia, ahora puede irse a la chingada")

In [ ]:
# Example 1: Basic arithmetic operations
x = 10
y = 5
print("Sum:", x + y)
print("Difference:", x - y)
print("Product:", x * y)
print("Division:", x / y)

In [ ]:
# Example 2: Using loops
print("Counting from 1 to 5:")
for i in range(1, 6):
  print(i)

print("\nPrinting elements in a list:")
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)

In [ ]:
# Example 3: Using conditional statements
temperature = 25

if temperature > 30:
  print("It's hot!")
elif temperature > 20:
  print("It's warm.")
else:
  print("It's cool.")

In [ ]:
print("Hola")
Edad  = None
Edad  = input("Ingrese su edad: ")
print("Su edad es:", Edad)

#Decimal
Numero = 6.8

In [ ]:
#Restas
res1 = int(input("ingrese el primer numero: "))
res2 = int(input("ingrese el segundo numero: "))

Respuesta = res1 - res2
print("la resta de los numeros es:", Respuesta)

In [ ]:
6def restar_dos_numeros():
    num1 = int(input("Ingrese el primer número: "))
    num2 = int(input("Ingrese el segundo número: "))
    return num1 - num2

# Usando el resultado
resultado = restar_dos_numeros()
print("La resta de los números es:", resultado)

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario. Convertir grados celcius a Farenheit

def CelciusaFarenheit(c):
  return c*1.8 + 32

In [ ]:
c = int(input("Grados c: "))
f = CelciusaFarenheit(c)
print("F: ", f)

Grados c: 6
F:  42.8

In [ ]:
# Hacer un ejercicio que convierta los grados Farenheit a Celsius

def FarenheitCelsius(f):
  return (f - 32) * 5/9

In [ ]:
f = float(input("Grados f: "))
c = FarenheitCelsius(f)
print("C: ", c)

Grados f: 100.4
C:  38.0

In [ ]:
# Hacer de Grados Celsius a Kelvin XD

def CelciusaKelvin(c):
  return c + 273.15

In [ ]:
c = int(input("Grados c: "))
k = CelciusaKelvin(c)
print("K: ", k)

Grados c: 34
K:  307.15

In [ ]:
# Hacer un ejercicio que calcule el sueldo del empleado
# segun el numero de horas trabajadas y el valor por hora

def sueldo(hora, valorXhr):
  sueldo = hora * valorXhr * 30
  return sueldo

In [ ]:
numerohoras = float(input("Hrs: "))
valorXhr = float(input("valor xhr: "))
sueldo = sueldo(numerohoras, valorXhr)

print("Sueldo: ", sueldo)

Hrs: 8
valor xhr: 10
Sueldo:  2400.0

In [ ]:
# Hacer un ejercicio que permita elevar un numero a un exponente

def elevar(b,e):
  return b**e

In [ ]:
b = float(input("Ingrese la base: "))
e = float(input("Ingrese el exponente: "))

respuesta = elevar(b, e)
print("el numero", b, ",elevado el exponentre",e, "es:",respuesta)

Ingrese la base: 5
Ingrese el exponente: 2
el numero 5.0 ,elevado el exponentre 2.0 es: 25.0

In [ ]:
#Funciones Anonimas
def suma(a, b):
  return a+b

In [ ]:
# Función anónima con lambda
a = float(input("Ingrese el primer número: "))
b = float(input("Ingrese el segundo número: "))

suma_lambda = lambda x, y: x + y

print("La suma de", a, "más", b, "es igual a", suma_lambda(a, b))

Ingrese el primer número: 32
Ingrese el segundo número: 12
La suma de 32.0 más 12.0 es igual a 44.0

In [ ]:
def extraerValordia(dia):
  return dia[0]

In [ ]:
# Lista de días
semana = ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"]

# Primer carácter en mayúscula
primerValorsemana = map(lambda dia: dia.upper()[0], semana)
print(list(primerValorsemana))

# Todos los días en mayúsculas
mayusSemana = map(lambda dia: dia.upper(), semana)
print(list(mayusSemana))

# Usando la función
print(list(map(extraerValordia, semana)))

['D', 'L', 'M', 'M', 'J', 'V', 'S']
['DOMINGO', 'LUNES', 'MARTES', 'MIERCOLES', 'JUEVES', 'VIERNES', 'SABADO']
['D', 'L', 'M', 'M', 'J', 'V', 'S']

In [ ]:
numero = [2, 4, 6, 8, 9]
potencia = int(input("potencia: "))
numeropotencia = map(lambda n: n**potencia, numero)

print(list(numeropotencia))

potencia: 2
[4, 16, 36, 64, 81]

In [ ]:
ntabla = int(input("Tabla: "))
numeros = [1,2,3,4,5,6,7,8,9,10]

tabla = map(lambda num: num * ntabla, numeros)

print(list(tabla))

Tabla: 6
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]

In [ ]:
seriedenum = [1,2,3,4,5,6,7,8,9,10]
pares = filter(lambda num: num%2==0, seriedenum)

print(list(pares))

impares = filter(lambda num: num%2!=0, seriedenum)

print(list(impares))

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [ ]:
numserie = input("La serie (ej: 5,2,8,1,4): ")
numserie = numserie.split(",")  # lista de strings

# Filtrar solo pares
pares = filter(lambda num: int(num) % 2 == 0, numserie)
impares = filter(lambda num: int(num) % 2 != 0, numserie)

print("Estos números son pares:", list(pares))
print("Estos números son impares:", list(impares))

La serie (ej: 5,2,8,1,4): 5,2,8,1,4
Estos números son pares: ['2', '8', '4']
Estos números son impares: ['5', '1']

In [ ]:
alumnos = {"Ana": 8,  "Luis": 5,  "Pedro": 6,  "Maria": 4, "Nayibbukele": 5}

aprobados = filter(lambda alumno: alumno[1] >= 6, alumnos.items())
reprobados = filter(lambda alumno: alumno[1] < 6, alumnos.items())

print("Aprobados:", list(aprobados))
print("Reprobados:", list(reprobados))

Aprobados: [('Ana', 8), ('Pedro', 6)]
Reprobados: [('Luis', 5), ('Maria', 4), ('Nayibbukele', 5)]

In [ ]:
#reduce
from functools import reduce

numeros = [1,2,3,4,5,6,7,8,9]
suma = reduce(lambda acum, num: num+acum, numeros)

sumaPares = reduce(lambda acum, num: num+acum, filter(lambda num: num%2==0, numeros))
sumaImpar = reduce(lambda acum, num: acum + num if num%2==0 else acum, numeros,0)

print("La suma es:", suma)
print("la suma de los pares es", sumaPares)
print("suma pares: ", sumaImpar)

La suma es: 45
la suma de los pares es 20
suma pares:  20

In [ ]:
tupla = (5,2,3,4,7,8)
#tupla[0] = 1
print("Tupla: ", tupla, "primer elemento ", tupla[0], "El numero 5 aparece", tupla.count(5), "veces")
print("Ultimo Elemento: ", tupla[-1])
print("Rango: ", tupla[0:5])

Tupla:  (5, 2, 3, 4, 7, 8) primer elemento  5 El numero 5 aparece 1 veces
Ultimo Elemento:  8
Rango:  (5, 2, 3, 4, 7)

In [ ]:
import datetime
fecha = datetime.date.today()

semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
mes = ("", "enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre")
dia = fecha.day
mes = fecha.month
year = fecha.year
diasemana = semana[fecha.isoweekday()]

print(diasemana, dia, "de", mes, "del", year)
print(fecha, fecha.isoweekday(), diasemana)
print(dia, mes, year)

martes 12 de 8 del 2025
2025-08-12 2 martes
12 8 2025

In [3]:
lista = [5,8,9,4, "Progra III", True, [4,8,9, [8,9,4]]]
print(lista)

[5, 8, 9, 4, 'Progra III', True, [4, 8, 9, [8, 9, 4]]]

In [4]:
def calcularPromedio(nota, notas):
  return notas[1]*notas[2] + nota # 8*0.3 + 9*0.3 + 10*0.3

In [6]:
#Hacer un ejercicio en python que obtenga la nota final de Progra III del computo I, haciendo uso de las listas y de las funciones.
from functools import reduce
#estudiante...
notas = [
    ["Lab1", 10, 0.3],
    ["Lab2", 10, 0.3],
    ["Parcial1", 10, 0.4],

    ["Lab1", 10, 0.3],
    ["Lab2", 10, 0.3],
    ["Parcial2", 10, 0.4],

    ["Lab1", 10, 0.3],
    ["Lab2", 10, 0.3],
    ["Parcial3", 10, 0.4]
  ]
prom = reduce(calcularPromedio, notas, 0)
nf = prom / 3
print("Nota Final de Progra III: ", nf)

Nota Final de Progra III:  10.0

In [8]:
#Hacer un ejercicio en python que obtenga la nota final de Progra III del computo I,
#donde el usuario va introducir las notas, haciendo uso de las listas y de las funciones.
from functools import reduce

notas = []
for i in range(1,4):
  nota = float(input("Act: "+ str(i) + ": "))
  porcentaje = float(input("Porcentaje: "))
  notas.append(["Act. "+ str(i), nota, porcentaje])

prom = reduce(calcularPromedio, notas, 0)
print("Nota Final de C1 ", prom)

Act: 1: 5
Porcentaje: 0.3
Act: 2: 6
Porcentaje: 0.30
Act: 3: 9
Porcentaje: 0.4
Nota Final de C1  6.9

In [9]:
#sort
valores = [5,8,9,1,3,4,7]

print(valores, "Lista original")

valores.sort()
print(valores, "POrdenados de menor a mayor")

valores.reverse()
print(valores, "Ordenados de mayor a menor")

#valores.sort(reverse=True)
#print(valores, "Ordenados de mayor a menor")

[5, 8, 9, 1, 3, 4, 7] Lista original
[1, 3, 4, 5, 7, 8, 9] POrdenados de menor a mayor
[9, 8, 7, 5, 4, 3, 1] Ordenados de mayor a menor

In [13]:
persona = {
  "codigo": "USSS012223",
  "nombre": "Jonathan Guandique",
  "materias": [
    {
      "codigo": 611,
      "nombre": "Programacion III",
      "notas":{
        "c1": {"lab1":8, "lab2":9.9, "parcial":10},
        "c2": {"lab1":7.78, "lab2":6.5, "parcial":8},
        "c3": {"lab1":10, "lab2":9, "parcial":9}
      }
    },
    {
      "codigo": 612,
      "nombre": "Programacion II",
      "notas":{
        "c1": {"lab1":5, "lab2": 7, "parcial":9},
        "c2": {"lab1":9, "lab2": 6, "parcial": 10},
        "c3": {"lab1":10, "lab2": 10, "parcial": 9}
      }
    }
  ]
}
print(persona["nombre"], "->", persona["materias"][0]["nombre"], "-> CI: ",
      persona["materias"][0]["notas"]["c1"],
      persona["materias"][0]["notas"]["c1"]["lab1"]
      )

Jonathan Guandique -> Programacion III -> CI:  {'lab1': 8, 'lab2': 9.9, 'parcial': 10} 8

In [ ]:
#if
#hacer un ejercicio en python que permita clasificar las edades segun su rango
edad = int(input("Edad: "))
if(edad<0):
  print("Error al ingresar la edad, solo valores positivos.")
elif(edad<=2):
  print("Eres un bebe...")
elif(edad<=11):
  print("Eres un niño...")
elif(edad<18):
  print("Eres un adolescente...")
elif(edad<65):
  print("Eres un adulto responsable...")
elif(edad<85):
  print("Eres un adulto mayor...")
else:
  print("Ya casi te mueres xd")