<a href="https://colab.research.google.com/github/JohnTakahashi2424/Python-Progra-lll/blob/main/Uso_de_funciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
print("Bienvenidos a Programacion computacional III")

In [ ]:
Nombre = 'La variable es:'
edad = 5
print('hola', Nombre)

print("edad")
print("tu edad:", edad)

In [ ]:

#Esto es una suma de dos numeros

num1 = None
num2 = None

num1 = int(input("ingrese el primer numero de la suma: "))
num2 = int(input("Ingrese el segundo numero de la suma: "))

Respuesta = num1 + num2

print("la respuesta de la suma es:", Respuesta)
print("tenga un buen dia :D")

#Esto es una resta de dos numeros

a = None
b = None

a = int(input("Ingrese el primer numero para la resta: "))
b = int(input("ingrese el segunfo numero de la resta: "))

Respuesta = a - b

print("la respuesta de la resta es: ", Respuesta)
print("listo, definitivamente tenga un buen dia, ahora puede irse a la chingada")

In [ ]:
# Example 1: Basic arithmetic operations
x = 10
y = 5
print("Sum:", x + y)
print("Difference:", x - y)
print("Product:", x * y)
print("Division:", x / y)

In [ ]:
# Example 2: Using loops
print("Counting from 1 to 5:")
for i in range(1, 6):
  print(i)

print("\nPrinting elements in a list:")
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)

In [ ]:
# Example 3: Using conditional statements
temperature = 25

if temperature > 30:
  print("It's hot!")
elif temperature > 20:
  print("It's warm.")
else:
  print("It's cool.")

In [ ]:
print("Hola")
Edad  = None
Edad  = input("Ingrese su edad: ")
print("Su edad es:", Edad)

#Decimal
Numero = 6.8

In [ ]:
#Restas
res1 = int(input("ingrese el primer numero: "))
res2 = int(input("ingrese el segundo numero: "))

Respuesta = res1 - res2
print("la resta de los numeros es:", Respuesta)

In [ ]:
def restar_dos_numeros():
    num1 = int(input("Ingrese el primer número: "))
    num2 = int(input("Ingrese el segundo número: "))
    return num1 - num2

# Usando el resultado
resultado = restar_dos_numeros()
print("La resta de los números es:", resultado)

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario. Convertir grados celcius a Farenheit

def CelciusaFarenheit(c):
  return c*1.8 + 32

In [ ]:
c = int(input("Grados c: "))
f = CelciusaFarenheit(c)
print("F: ", f)

Grados c: 6
F:  42.8

In [25]:
# Hacer un ejercicio que convierta los grados Farenheit a Celsius

def FarenheitCelsius(f):
  return (f - 32) * 5/9

In [26]:
f = float(input("Grados f: "))
c = FarenheitCelsius(f)
print("C: ", c)

Grados f: 100.4
C:  38.0

In [27]:
# Hacer de Grados Celsius a Kelvin XD

def CelciusaKelvin(c):
  return c + 273.15

In [29]:
c = int(input("Grados c: "))
k = CelciusaKelvin(c)
print("K: ", k)

Grados c: 34
K:  307.15

In [39]:
# Hacer un ejercicio que calcule el sueldo del empleado
# segun el numero de horas trabajadas y el valor por hora

def sueldo(hora, valorXhr):
  sueldo = hora * valorXhr * 30
  return sueldo

In [40]:
numerohoras = float(input("Hrs: "))
valorXhr = float(input("valor xhr: "))
sueldo = sueldo(numerohoras, valorXhr)

print("Sueldo: ", sueldo)

Hrs: 8
valor xhr: 10
Sueldo:  2400.0

In [46]:
# Hacer un ejercicio que permita elevar un numero a un exponente

def elevar(b,e):
  return b**e

In [50]:
b = float(input("Ingrese la base: "))
e = float(input("Ingrese el exponente: "))

respuesta = elevar(b, e)
print("el numero", b, ",elevado el exponentre",e, "es:",respuesta)

Ingrese la base: 5
Ingrese el exponente: 2
el numero 5.0 ,elevado el exponentre 2.0 es: 25.0